@import '/styles/theme';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.horiz {
  margin-inline: auto;

    ul {
      width:100%;
      list-style:none;
    
      > li {
        position:relative;
        float:left;
        padding:.25em 1em;
        margin:1.25em 1em;
    
        text-transform:uppercase;
        cursor:pointer;
        color:$base-color-mild;
        text-align:center;
        // border-radius:.75em;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        transition-property: background, color, padding, border-radius;
        // box-shadow:
        //   .1em -.1em 0 .1em rgba(0, 0, 0, .2),
        //   inset 0 0 0 .15em rgba(0, 0, 0, .4),
        //   -.1em .1em 0 .1em rgba(0, 0, 0, .2)
        // ;
    
        &:after {
          position:absolute;
          z-index:-1;
          content:"";
          right:0;
          border-radius:50%;
          box-shadow:
            1em 1em 0 2em $base-color-bright;
          ;
        }

        &:last-child:after {
           box-shadow:none;
        }
    
        &:hover {
//           background: rgb(255,255,255);
// background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 100%);
            padding-left:3em;
            color: black;
    
            > a {
              color:$base-color-dark;
            }
        }
    
        > a {
          color:$base-color-mild;
          font-weight: 900;
          text-decoration:none;
          font-size: 1.4em;
          transition:color .3s ease-in-out;
        }
      }
    }
}

// /* small screens */
// @media screen and (max-width: 44em) {
//   body {
//     margin:1.5em 0;      
//   }
    
//   nav[role="full-horizontal"] {
//     ul {
//       padding:0 .5em;    
//     }
    
//     ul > li {
//       width:100%;
//       padding:.45em .25em;
//       margin:0 0 .55em 0;
    
//       &:after {
//         box-shadow:none;  
//       }
//     }
//   }
// }
