.headerExcell{
    background: red;
    height: 99px;
    width: 99px;
}
$base-color: #6200ee;

.totalPriceRow{
    background: white;
    color: $base-color;
    width: 40%;
    margin-top: 1rem;
    margin-inline: 1rem;
    padding: 0.15rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
