@import '/styles/theme';
@import '/styles/include';

.container{
    // background: mediumslateblue;
    // background-image: url('/images/halftone-yellow.png');
    // @extend .gradientBgr;

    background-repeat: repeat;
  
    display: flex;
    flex-direction: column;
    background: $base-color-bright;
    // padding: 2rem;
}

.darkContainer{
    overflow: hidden;
     background: $base-color-bright;
    margin-top: 12rem;
    margin-inline: 3rem;
    height: 100%;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    @include media("<large") {
        margin-inline: 0;
      }
  
}


