@import '/styles/theme';

.container{
    // background: mediumslateblue;
    // background-image: url('/images/halftone-yellow.png');
    // @extend .gradientBgr;

    background-repeat: repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $base-color-bright;
    // padding: 2rem;
}

.darkContainer{
     background: $base-color-bright;
    // background-image: url('/images/halftone-yellow.png');
    // background-repeat: repeat;
    margin-top: 12rem;
    margin-inline: 3rem;
    height: 100%;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // padding: 2rem;
}

