/* Roboto is Material's default font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$base-color-dark: black;
$base-color-bright: #ffffff;
$base-color-mild: #635ae6;
$border-radius: 32px;

.gradientBgr {
  background: rgb(109, 99, 253);
  background: radial-gradient(
    circle,
    rgba(109, 99, 253, 1) 0%,
    rgba(0, 0, 0, 1) 82%
  );
}
