/* Roboto is Material's default font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$base-color-dark: #192534;
$base-color-bright: #ffffff;
$base-color-mild: #635ae6;
$border-radius: 32px;



.gradientBgr {
  background: rgb(109, 99, 253);
  background: radial-gradient(
    circle,
    rgba(109, 99, 253, 1) 0%,
    rgba(0, 0, 0, 1) 82%
  );
}

// media queries
$screen-small: 360px;
$screen-medium: 600px;
$screen-large: 1024px;
$screen-xlarge: 1270px;
$screen-xxlarge: 1440px;

$breakpoints: (
  small: $screen-small,
  medium: $screen-medium,
  large: $screen-large,
  xlarge: $screen-xlarge,
  xxlarge: $screen-xxlarge,
);
